body {
  position: absolute;
  width: 1440px;
  height: 1024px;
}

div.AskQuestion-wrap-from {
  position: absolute;
  width: 869px;
  height: 594px;
  left: 325px;
  top: 5%;

  background: #c4c4c4;
  box-shadow: 0px 10px 50px 10px rgba(152, 152, 152, 0.25);
  border-radius: 20px;
}

.batal {
  position: absolute;
  left: 1100px;
  top: 150px;
}

div.AskQuestion-wrap-from h2 {
  padding-top: 56px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

div.AskQuestion-wrap-from h3 {
  padding-left: 50px;
  padding-top: 25px;
}

#judul-form label.satu {
  position: absolute;
  width: 380.63px;
  height: 38px;
  left: 50px;
  top: 145px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

input[type='Judulpertanyaan'] {
  position: absolute;
  width: 772px;
  height: 60px;
  left: 50px;
  top: 192px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  color: black;
  border: 1px solid #ffff;
  background-color: #ffffff;
  font-style: normal;
  font-size: 16px;
  display: inline-block;
}

#judul-form label.dua {
  position: absolute;
  width: 380.63px;
  height: 38px;
  left: 50px;
  top: 290px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

input[type='Tulispertanyaan'] {
  position: absolute;
  width: 772px;
  height: 149px;
  left: 50px;
  top: 337px;
  border: 1px solid #ffff;
  background: #fffcfc;
  border-radius: 10px;
}

input.log[type='submit'] {
  position: absolute;
  width: 142px;
  height: 55px;
  right: 0px;
  top: 620px;
  border: none;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  background: #4d94ff;
  border-radius: 27.3125px;
  cursor: pointer;
}

a.back {
  position: absolute;
  left: 320px;
  top: 658px;
  color: #737373;
}

a.back1 {
  position: absolute;
  width: 210px;
  height: 24px;
  left: 345px;
  top: 658px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #737373;
}

a.tanda {
  position: absolute;
  left: 300px;
  top: 780px;

  color: #737373;
}
